.btn {
	border: none;
	background: none;
	margin: 0;
	display: inline-block;
	cursor: pointer;
	&-reduction {
		background: #f26666;
		color: #FFFFFF;
		text-align: center;
		position: relative;
		padding: 11px 5px 11px 32px;
		border-radius: 4px;
		@include font(13px, 22px);
		&:before {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 30px;
			content: '';
			display: block;
			border-radius: 4px 0 0 4px;
			padding: 14px 0;
			background: #e95f5f url(../img/btn-arrow.png) center center no-repeat;
		}
	}
	&-growth {
		@extend .btn-reduction;
		background: #53a642;
		&:before {
			border-radius: 0 4px 4px 0;
			@include transform(rotate(180deg));
			background: #499c38  url(../img/btn-arrow.png) center center no-repeat;
		}
	}
}
input.form-control {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #c0c2c4;
	padding: 4px 5px;
	height: 27px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}
.nice-checkbox {
	@include nice-checkbox('../img/nice-checkbox.png', 16px, 16px, 5px 5px 0 0, 0);
}
.nice-radio {
	@include nice-checkbox('../img/nice-radio.png', 16px, 16px, 3px 7px 0 0, 0);
}