.invest-form {
	h2 {
		font-family: 'Roboto', sans-serif;
		@include font(16px, 32px);
		margin: 0 0 19px;
		padding: 9px 23px 4px;
		display: block;
		border-bottom: 1px solid #e0e2e4;
	}
	input.form-control {
		text-align: right;
	}
}