* {
	&, &:after, &:before {
		box-sizing: border-box;
	}
}
body {
	@include display-flex;
	min-height: 90vh;
	/*@include justify-content-center;*/
	@include flex-direction-column;
	@include justify-content-flex-start;
	@include align-items-center;
	font-family: Arial;
	@include font(13px, 22px);
}
.form-wrapper {
	max-width: 316px;
}
.text-2 {
	color: #909294;
	padding-left: 2px;
}
.form-row {
	@include display-flex;
	@include flex-wrap-nowrap;
	@include align-items-center;
	padding: 0 27px;
	&__label {
		@include flex(0.52, 0, 52%);
		@include font(13px, 22px);
		padding: 0 5px 0 0;
	}
	&__control {
		@include flex(0.48, 0, 48%);
		position: relative;
		min-height: 27px;
	}
	&__error {
		position: absolute;
		background: #e64545;
		color: #FFF;
		left: 0;
		bottom: 100%;
		margin-bottom: 4px;
		border-radius: 4px;
		@include font(11px, 16px);
		padding: 6px;
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		&:after {
			top: 100%;
			left: 10px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: transparent;
			border-top-color: #e64545;
			border-width: 4px;
		}
		a {
			text-decoration: none;
			display: inline;
			border-bottom: 1px dotted #FFFFFF;
			cursor: pointer;
		}
	}
	&_error {
		.form-row__control input {
			border-color: #e64545;
		}
	}
	& + & {
		margin-top: 8px;
	}
}
.input-group {
	position: relative;
	display: inline-block;
	&__text {
		position: absolute;
		color: #909294;
		left: 9px;
		top: 50%;
		@include transform(translateY(-50%));
		z-index: 2;
	}
	.form-control {
		padding-left: 20px;
	}
}
.toggle-row {
	margin: 0 0 20px;
	&__toggler {
		position: relative;
		cursor: pointer;
		color: #909294;
		margin: 29px 27px 11px;
		&:before {
			content: '\203A';
			position: absolute;
			display: block;
			left: -13px;
			top: 50%;
			@include transform(translateY(-50%));
			font-size: 22px;
			color: #909294;
		}
	}
	&__toggle {
		visibility:hidden;
	}
	&_toggle {
		.toggle-row__toggler:before {
			@include transform(translateY(-50%) rotate(90deg));
		}
		.toggle-row__toggle {
			visibility: visible;
		}
	}
}
.row-elems {
	@include display-flex;
	@include align-items-center;
	> *:first-child {
		@include flex(0.2, 1, 50px);
	}
	> *:last-child {
		@include flex(1, 0, auto);
	}
}
.labels-list {
	display: inline-block;
	& + & {
		margin-left: 9px;
	}
}
.btn-group{
	padding: 0 27px;
	font-size: 0;
	> * {
		width: calc(50% - 5px);
		+ * {
			margin-left: 10px;
		}
	}
}
.multi-slider {
	position: absolute;
	background: #3a3b3c;
	top: 100%;
	right: 0;
	width: 280px;
	padding: 12px 15px;
	z-index: 5;
	margin: 6px -85px 0 0;
	border-radius: 2px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	&:after {
		bottom: 100%;
		right: 102px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: transparent;
		border-bottom-color: #3a3b3c;
		border-width: 6px;
	}
		
	.vue-slider-piecewise-dot {
		display: none !important;
	}
	.vue-slider-piecewise-item {
		display: none;
		&:nth-child(1),
		&:nth-child(5),
		&:nth-child(20),
		&:nth-child(40){
			display: block;
		}
	}
	.vue-slider-component .vue-slider-process {
		background: #7e98e5;
	}
	.vue-slider-component .vue-slider {
		background: #909294;
	}
	.vue-slider-component.vue-slider-horizontal .vue-slider-dot {
		background: #7e98e5;
		box-shadow: none;
		&:after {
			content: '';
			position: absolute;
			background: #FFFFFF;
			left: 50%;
			top: 50%;
			@include transform(translateX(-50%) translateY(-50%));
			width: 6px;
			height: 6px;
			border-radius: 100%;
		}
	}
	.vue-slider-component.vue-slider-horizontal-reverse .vue-slider-piecewise-label, .vue-slider-component.vue-slider-horizontal .vue-slider-piecewise-label {
		color: #909294;
		@include font(11px, 22px);
	}
}