.vnis {
	display: inline-block;
	position: relative;
	&__input {
		padding-right: 25px;
	}

	&__button {
		border: 0;
		cursor: pointer;
		position: absolute;
		width: 17px;
		height: 14px;
		right: 0;
		border: 1px solid #c0c2c4;
		padding: 0;
		&_up {
			top: 0;
			border-radius: 4px 4px 0 0;
			background: url(../img/spin.png) top center no-repeat;
		}
		&_down {
			bottom: 0;
			border-radius: 0 0 4px 4px;
			background: url(../img/spin.png) bottom center no-repeat;
		}
	}
	&[disabled=disabled] {
		.vnis__button {
			opacity: 0.4;
			cursor: default;
		}
	}
}
input.form-control.vnis__input {
	@extend .vnis__input;
}