<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Тестовое задание</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
		<link rel="stylesheet" href="./css/style.css"/>
	</head>
	<body>
		<div class="form-wrapper">
			
			<form id="invest-form" class="invest-form" v-on:click="hideMultiSlider">
				<header>
					<h2>Инвестировать сейчас</h2>
				</header>
				<main>
					<label class="form-row" v-bind:class="{ 'form-row_error': !!sumInvErrorMsg }">
						<span class="form-row__label">Сумма инвестиций</span>
						<span class="form-row__control">
							<span class="input-group">
								<span class="input-group__text">$</span>
								<input type="text" class="form-control" name="sumInv" v-model="sumInv">
								<span class="form-row__error" v-show="!!sumInvErrorMsg">
									{{sumInvErrorMsg}} <a v-on:click="fixInvTo(sumInvErrorFixVal)">$ {{sumInvErrorFixVal}}</a>
								</span>
							</span>
						</span>
					</label>
					<div class="form-row">
						<div class="form-row__label">Мультипликатор</div>
						<div class="form-row__control">
							<div class="row-elems">
								<div class="input-group">
									<span class="input-group__text">x</span>
									<input type="text" class="form-control" name="mult" v-model="mult" v-on:click.stop="" v-on:focus.stop="showMultiSlider">
									<div class='multi-slider' v-if="isShowMultiSlider">
										<vue-slider-component 
											:min= "multiple.min"
											:max= "multiple.max"
											:height="4"
											:dot-size="18"
											:tooltip="false"
											:piecewise="true"
											:piecewise-label="true"
											:value="mult"
											v-model="mult"
										/>
									</div>
								</div>
								<span class="text-2">= ${{sumFact}}</span>
							</div>
						</div>
					</div>
					<div class="toggle-row" v-bind:class="{ 'toggle-row_toggle': isLimitsShow }">
						<div class="toggle-row__toggler" v-on:click="toggleLimits">Ограничить прибыль и убыток</div>
						<div class="toggle-row__toggle">
							<div class="form-row">
								<div class="form-row__label">Ограничения в</div>
								<div class="form-row__control">
									<span class="labels-list"  v-for="(value, key) in limits">
										<label class="nice-radio">
											<input type="radio" name="limitType" v-bind:value="key" v-model="limitType">
											<span>{{key}}</span>
										</label>
									</span>
								</div>
							</div>
							<div class="form-row">
								<span class="form-row__label">
									<label class="nice-checkbox">
										<input type="checkbox" v-model="takeProfitCheck">
										<span>Прибыль</span>
									</label>
								</span>
								<span class="form-row__control">
									<span class="input-group">
										<span class="input-group__text">{{limitType}}</span>
										<vnis
											:disabled="!takeProfitCheck"
											:min="limits[limitType].profitMin"
											:max="limits[limitType].profitMax"
											:step="limits[limitType].limitStep"
											:integeronly="true"
											:value="takeProfitDefaultVal"
											v-model="takeProfitVal"
										  />
										<span class="form-row__error" v-show="!!takeProfitError">
											Ололо плохой takeProfit
										</span>
									</span>
								</span>
							</div>
							<div class="form-row">
								<span class="form-row__label">
									<label class="nice-checkbox">
										<input type="checkbox" v-model="stopLossCheck">
										<span>Убыток</span>
									</label>
								</span>
								<span class="form-row__control">
									<span class="input-group">
										<span class="input-group__text">{{limitType}}</span>
										<vnis
											:min="limits[limitType].lossMin"
											:max="limits[limitType].lossMax"
											:step="limits[limitType].limitStep"
											:integeronly="true"
											:disabled="!stopLossCheck"
											:value="stopLossDefaultVal"
											v-model="stopLossVal"
										  />
										<span class="form-row__error" v-show="!!takeProfitError">
											Ололо плохой stopLoss
										</span>
									</span>
								</span>
							</div>
						</div>
					</div>
				</main>
				<footer>
					<div class="btn-group">
						<button type="button" class="btn btn-reduction" v-on:click="makeInvest('reduction')">В снижение</button>
						<button type="button" class="btn btn-growth" v-on:click="makeInvest('growth')">В рост</button>
					</div>
				</footer>
			</form>
			
		</div>
		
		<script src="./js/main.js"></script>
	</body>
</html>