@mixin font($fs, $lh){
	font-size: $fs;
	line-height: $lh;
}

@mixin title-underscore($color){
	position: relative;
	&:after {
		content: '';
		height: 1px;
		width: 20px;
		left: 0;
		bottom: -7px;
		background: $color;
		display: block;
		position: absolute;
		@include sm-view{
			bottom: -9px;
		}
	}
}
@mixin transform ($str){
    transform: #{$str};
    -webkit-transform: #{$str};
}
@mixin transition ($str){
    transition: #{$str};
    -webkit-transition: #{$str};
}
@mixin nice-checkbox($bg-img, $width, $height, $margin, $pl) {
  display: inline-block;
  font-weight: normal;
  input[type=checkbox],input[type=radio] {
    display: none;
    + span {
      cursor: pointer;
      padding-left: $pl;
      display: block;
      &:before {
        content: '';
        float: left;
        background: url($bg-img) center top no-repeat;
        width: $width;
        height: $height;
        vertical-align: top;
        margin: $margin;
      }
    }
    &:checked + span:before {
      background-position: center bottom;
    }
    &:disabled {
      + span {
        &, &:hover {
          color: #c2c2c2;
        }
      }
    }
  }
}